
/* --------- date picker --------- */
.date-picker {
	position: absolute;
	border: 1px solid #444;
	/*padding: 4px;*/
	margin: 6px 0;
	background: #222;
	border-radius: 2px;
	box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
}
.date-picker:before {
	content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 8px;
    border: 8px solid #444;
    border-width: 0px 8px 8px;
    border-color: transparent transparent #444;
}
.date-picker:after {
	content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 8px;
    border: 8px solid #222;
    border-width: 0px 8px 8px;
    border-color: transparent transparent #333;
}

.date-picker .cal-month {
	margin: 3px 0 0;
}


/* ---------- header footer ---------- */
.dp-title, .dp-footer {
	text-align: center;
	border-bottom: 1px solid #333;
    /*margin-bottom: 3px;*/
    padding: 5px;
    cursor: default;
    background: #333;
    border-radius: 2px 2px 0 0;
}
.dp-title {
	min-width: 180px;
}
.dp-label {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0 2px -5px;
}
.dp-title select {
	cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    /*top: 5px;*/
    filter: alpha(opacity=0);
    opacity: 0;
    display: inline-block;
}
.dp-prev, .dp-next {
	display: block;
    cursor: pointer;
    position: relative;
    outline: none;

	padding: 0;
    width: 20px;
    height: 22px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: none;

    margin: 0 -3px;

    opacity: .5;
	float: left;
}
.dp-prev:after, .dp-next:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin: -6px;

	border: 6px solid #fff;
}
.dp-prev[disabled]:after, .dp-next[disabled]:after {
	border-color: transparent;
}

.dp-prev:after {
	border-color: transparent #fff transparent transparent;
}

.dp-next:after {
	border-color: transparent transparent transparent #fff;
}

.dp-prev:hover, .dp-next:hover {
	opacity: 1;
}
.dp-next {
	float: right;
}
.dp-label-month {
	/*font-weight: bold;*/
}
.dp-label-year {
	color: #999;
}

.dp-label:hover {
    color: #FFF;
}

/* ---------------------- */
.dp-footer {
	margin: 0;
    border-radius: 0 0 2px 2px;
}
.dp-footer .dp-label {
	/*margin: 0;*/
}
.dp-footer select {
	cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    opacity: 0;
    display: inline-block;
}

.partner {
	border: 1px solid red;
}
