
.cal-wrapper {
	width: 855px;
	margin: 0 auto;
	position: relative;
}
.cal-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.cal-box {
	float: left;
	position: relative;
}
.month {
	margin: 17px 37px 10px;
	font-size: 20px;
}
.cal-month {
	border-collapse: collapse;
	margin: 0 12px 12px 0;
}
.week-day {
	font-weight: normal;
	border-bottom: 1px solid #666;
	color: #777;
}
.previous-month, .next-month, .current-month, .week-no {
	position: relative;
	text-align: center;
	padding: 5px 7px;
	cursor: default;
	font-size-adjust:0.455;
}
.previous-month:hover:before,
.next-month:hover:before,
.current-month:hover:before,
.current-month.today:after,
.event:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px;
	width: 28px;
	height: 28px;
	box-sizing: border-box;

	background-color: #333;
	border-radius: 50%;
	z-index: -1;
}
.selected-day:before,
.previous-month:active:before,
.next-month:active:before,
.current-month:active:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px;
	width: 28px;
	height: 28px;
	box-sizing: border-box;

	border: 1px solid #C44;
	border-radius: 50%;
	z-index: -1;
}

.cal-month td {
	z-index: 0;
}

.previous-month, .next-month {
	color: #444;
}
.week-no {
	color: #C44;
	border-right: 1px solid #666;
	width: 30px;
	padding: 4px 0;
}

.current-month.today:after {
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: transparent;
}

.previous-month.week-end, .next-month.week-end {
	color: #422;
}

.week-end, .week-day.week-end {
	color: #633;
}
.event {
	color: #C44!important;
}
.previous-month.event:before, .next-month.event:before {
	background-color: #322;
}
.disabled  {
	color: #111!important;
}
.brown  {
	color: #7d3008;
}
.green  {
	/*color: #1a1!important;*/
}
.disabled-2, .disabled-3  {
	/*color: #C00!important;*/
}
.current-month .today-icon, .current-month .count-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin: -3px;
    border: 1px solid gray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 11px;
    background-color: #666;
    color: #111;
}
.count-icon {
 	display: none;
 }
.today-icon {
	display: none;
	right: auto;
	left: 0;
}

/* ----- month.js ------ */
.month-cal {
	margin: 54px auto;
}
.month-cal .cal-month {
	width: 855px;
}
.month-cal .current-month, .month-cal .previous-month, .month-cal .next-month {
	height: 100px;
	text-align: left;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.05);
	border-left: 1px solid #444;
	border-bottom: 1px solid #444;
}

.month-cal .current-month:before, .month-cal .previous-month:before, .month-cal .next-month:before {
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
	border-radius: 0;
	margin: 0;
}

.month-cal .week-no {
	text-align: left;
	vertical-align: top;
	/*padding: 6px 3px 0 0;*/
}

.single-event {
	display: block;
	width: 94px;
	height: 1.6em;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: rgba(255, 255, 255, 0.05);
	margin: 2px 0;
	padding: 0 4px;
	color: #aaa;
}

